body{
    background-color: #e0f0ff;
    margin: 0px;
    font-size:        medium;
}

header.top {
  background-color: #91bdff;
  height:           70px;
}

header.top img#headerLogo {
  margin: 10px;
}
header.top p{
  margin: 20px;
  float: right;
  font-size: 15pt;
  font-weight: 700;
  font-style: italic;
  color: #174d80;
}
body p{
    margin: 10px;
    color:#3969c2;
    text-align: center;
}
/* nav bar */
nav {
  background-color: #3969c2;
}

nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}

nav ul li a:link, nav ul li a:visited{
  color: #e6f7fd;
  text-decoration: none;
  border-bottom: none;
  font-weight: bold;
}

nav ul li.selected{
  background-color: #002575;
}

img.topimage{
    width: 100vw;
    object-fit: fill;
}
img#benefit{
  width:100vw;
  margin-top: -10px;

}
